<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/post/create">Create new post</a>
    <h1>My Posts</h1>
    
    <ul>
        <% AllPosts.forEach((post) => { %>
            <li>
                <p>
                    <b><%= post.title %></b>
                    <i><%= post.author %></i>
                    <i><%= post.content %></i>
                    <i><%= post.url %></i>
                    <button>update</button>
                </p>
            </li>
         <% }); %>
    </ul>
</body>
</html>
